<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">e-Healthcare System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <form class="d-flex flex-wrap" method="GET" action="{% url 'searchResult' %}">
                <input class="form-control me-2" style="width: auto" type="text" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
                {% if user.is_authenticated %}
                {% if user.usertype.patient == False %}
                <a class="text-decoration-none ms-2 d-flex align-items-center" href="{% url 'doctorDashboard' %}"><i class="fas fa-user me-1"></i>{{user.username}}</a>
                {% else %}
                <a class="text-decoration-none ms-2 d-flex align-items-center" href="{% url 'patientDashboard' %}"><i class="fas fa-user me-1"></i>{{user.username}}</a>
                {% endif %}
                <a class="btn btn-outline-danger ms-2" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-outline-success ms-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-outline-success ms-2" href="{% url 'register' %}">SignUp</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>